<footer>
	<div class="text-center p-3 my-3" style="background-color: black;">
		© 2023 Copyright:
		<a class="text-white" href="https://olivier-bonabal.fr">DigitalCraftsMan</a>
	</div>
</footer>
