{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container my-3">

		{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Formulaire de Contact</h1>

		{{ form(form) }}
		</div>
	{% endblock %}
